*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url('aboutme.jpg');
	background-size: cover;
}
header{
	background-color: #cce2e8;
	box-shadow: 0px 10px 5px  -2px #e6edeb;
	position: relative;
	z-index: 999999;
	max-width: 100%;
}
.nav{
	font-weight: bold;
	text-align: right;
	font-family: courier;

}
.nav ul li{
	display: inline-block;
}
.nav ul li a{
	padding:25px;
	text-decoration: none;
	color: grey;
	line-height: 40px;
}
.nav ul li a:hover{
	color: #3b50d6;
}
article{
	background-color: rgb(175, 186, 128,0.5);
	border-radius: 20px;
	text-align: center;
	margin:50px 450px;
	font-size: 30px;
	padding:40px;
	font-family: 'Inconsolata', monospace;
}